
/* COMPUTER STYLING*/
@media screen and (max-width: 1280px) {

.headerDiv{
	text-align: center;
	justify-content: center;
	font-family: Raleway Black;
	font-size: 5em;
	color: #606B9B;
	padding-top: 3%;
	padding-bottom: 10%;
	display: flex;
	margin-right: 30%;
	margin-left: 30%;
}

#title {
	order: 2;
}

#startReview {
	text-decoration: none;
	order: 1;
	font-size: .3em;
	border-radius: 25px;
	font-family: Helvetica;
	color: white;
	background-color: #606B9B;
	position: absolute;
	top: 30px;
	left: 40px;
	padding: 20px;
}

.footer{
	text-align: center;
	font-size: 2em;
	color: white;
	background-color: #606B9B;
	font-family: Helvetica;
	position:absolute;
	bottom:0;
	width:100%;

}

#saveBttn {
	font-family: Helvetica;
	font-size: 1.5em;
	align-items: right;
	color: white;
	background-color: #70C7A9;
	border-radius: 25px;
	padding-right: 40px; 
	padding-left: 40px; 
	padding-top: 10px;
	padding-bottom: 10px;
	position: absolute;
	bottom: 100px;
	right: 40px;
}

textarea {
	padding-right: 1%; 
	padding-left: 1%; 
	padding-top: 3%;
	padding-bottom: 3%;
}

textarea::placeholder {
	text-align: center;
	padding-right: 40px; 
	padding-left: 40px; 
	padding-top: 15px;
	padding-bottom: 40px;
}

#inputEng{
	font-family: Helvetica;
	font-size: 2em;
	float: left;
	display: flex;
}

#inputBox {
	margin-left: 10%;
}


#translationBox {
	font-family: Helvetica;
	display: flex;
	font-size: 2em;
	float: right;

}

#translateBox{
	margin-right: 10%;
}

}























/* Start tablet division */
@media screen and (max-width: 1024px) {

.headerDiv{
	text-align: center;
	justify-content: center;
	font-family: Raleway Black;
	font-size: 40pt;
	color: #606B9B;
	padding-top: 3%;
	padding-bottom: 20%;
	display: flex;
	margin-right: 30%;
	margin-left: 30%;
}

#title {
	order: 2;
}

button#startReview {
	order: 1;
	font-size: .5em;
	border-radius: 25px;
	font-family: Helvetica;
	color: white;
	background-color: #606B9B;
	position: absolute;
	top: 30px;
	left: 40px;
	padding: 20px;
}

.footer{
	text-align: center;
	font-size: 2em;
	color: white;
	background-color: #606B9B;
	font-family: Helvetica;
	position:absolute;
	bottom:0;
	width:100%;

}

#saveBttn {
	font-family: Helvetica;
	font-size: 2em;
	align-items: right;
	color: white;
	background-color: #70C7A9;
	border-radius: 25px;
	padding-right: 40px; 
	padding-left: 40px; 
	padding-top: 10px;
	padding-bottom: 10px;
	position: absolute;
	bottom: 100px;
	right: 40px;
}

textarea {
	padding-right: 1%; 
	padding-left: 1%; 
	padding-top: 3%;
	padding-bottom: 3%;
	width: 30%;
	height: 50%;
}

textarea::placeholder {
	text-align: center;
	padding-right: 5%; 
	padding-left: 5%; 
	padding-top: 5%;
	padding-bottom: 5%;
} 

#inputEng{
	font-family: Helvetica;
	font-size: 2em;
	float: left;
	display: flex;
}

#inputBox {
	margin-left: 10%;
}


#translationBox {
	font-family: Helvetica;
	display: flex;
	font-size: 2em;
	float: right;
	padding-bottom: 20px;

}

#translateBox{
	margin-right: 10%;
}

}





























/*Mobile View*/
@media screen and (max-width: 480px) {

.headerDiv{
	text-align: center;
	justify-content: center;
	font-family: Raleway;
	font-size: 2em;
	color: #606B9B;
	padding-top: 6%;
	padding-bottom: 30%;
	display: flex;
	margin-right: 30%;
	margin-left: 30%;
}

#title {
	order: 2;
}

button#startReview {
	order: 1;
	font-size: 10pt;
	border-radius: 25px;
	font-family: Helvetica;
	color: white;
	background-color: #606B9B;
	position: absolute;
	top: 20px;
	left: 20px;
	padding: 10px;
}

.footer{
	text-align: center;
	font-size: 17pt;
	color: white;
	background-color: #606B9B;
	font-family: Helvetica;
	position:absolute;
	bottom:0;
	width:100%;

}

#saveBttn {
	font-family: Helvetica;
	font-size: 17pt;
	align-items: right;
	color: white;
	background-color: #70C7A9;
	border-radius: 25px;
	padding-right: 20px; 
	padding-left: 20px; 
	padding-top: 5px;
	padding-bottom: 5px;
	position: absolute;
	bottom: 100px;
	right: 40px;
}

textarea {
	padding-right: 1%; 
	padding-left: 1%; 
	padding-top: 3%;
	padding-bottom: 10%;
	width: 85%;
	height: 90%;
}

textarea::placeholder {
	text-align: center;
	padding-right: 5%; 
	padding-left: 5%; 
	padding-top: 5%;
	padding-bottom: 5%;
} 

#inputEng{
	font-family: Helvetica;
	font-size: 2em;
	display: flex;
	padding-bottom: 10%;
}

#inputBox {
	padding-bottom: 10%;
}


#translationBox {
	font-family: Helvetica;
	display: flex;
	font-size: 2em;

}

.cardMainDiv{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

}
